extends layout

block content
    h1=title
    p Find and share everyday cooking inspiration on Allrecipes.
    p Discover recipes, cooks, videos, and how-tos based on the food you love and the friends you follow.